@import bootstrap-sprockets
@import bootstrap
@import font-awesome-sprockets
@import font-awesome
@import "pages.sass"
@import "blogs.sass"

#nav-bar
  background: white
  opacity: .98
  position: -webkit-sticky
  position: sticky
  top: 0
  z-index: 1000
  padding: 16px 13px 10px

.nav-left

.nav-right
  text-align: right
  text-decoration: none
  top: 30%

.nav-right a
  color: black
  margin-left: 13px


a:hover
  cursor: pointer