@import bootstrap-sprockets
@import bootstrap
@import font-awesome-sprockets
@import font-awesome

.nav-left
  border: 1px solid red

.nav-right
  border: 1px solid green
  text-align: right
.wrapper
  border: 1px solid brown
  text-align: center
.about_me
  border: 1px solid blue
  text-align: center
.contact
  border: 1px solid black
  text-align: center
.footer
  border: 1px solid red
  text-align: center