@import url('https://fonts.googleapis.com/css?family=Merriweather')

#wrapper 
  width: 90%
  max-width: 1100px
  min-width: 800px
  margin: 50px auto

.blog-masthead
  text-align: center

.featured-posts-text
  top: 10px
  text-align: center
  position: relative

.white-background
  background-color: #fff
  text-align: center
  width: 245px
  margin: 0 auto

.featured-posts
  border: 1px solid black
  text-align: center
  height: 284px

.admin_blogs
  margin-top: 5px

#columns
  -webkit-column-count: 3
  -webkit-column-gap: 10px
  -webkit-column-fill: auto
  -moz-column-count: 3
  -moz-column-gap: 10px
  -moz-column-fill: auto
  column-count: 3
  column-gap: 10px
  column-fill: auto
  
.pin 
  display: inline-block
  margin: 0px 2px 15px 0px
  -webkit-column-break-inside: avoid
  -moz-column-break-inside: avoid
  column-break-inside: avoid
  padding: 15px 0px
  opacity: 1
  -webkit-transition: all .2s ease
  -moz-transition: all .2s ease
  -o-transition: all .2s ease
  transition: all .2s ease
  text-align: center

.pin img 
  width: 100%
  padding-bottom: 15px
  margin-bottom: 0px

.pin p 
  font: 12px/18px Arial, sans-serif
  color: #333
  margin: 0

.pin:hover 
  border-radius: 10px
  cursor: pointer
  background: #f2f2f2

// Show page styles

.blog-background
  height: 100vh

.blog-post-title-background
  background: url(coffee.jpeg) no-repeat center center fixed
  height: 19vh
  vertical-align: middle
.blog-post
  text-align: center
  margin-top: 25px

.blog-post
  font-family: 'Merriweather', serif
  font-size: 16px

.blog-post-title
  vertical-align: middle
  font-size: 50px
  max-width: 500px
  margin: auto
  background-color: rgba(255, 255, 255, 0.39)
  padding: 10px

.back-btn
  text-align: left
  max-width: 80px
  padding: 0px

.edit-btn
  text-align: left
  max-width: 80px
  float: right

.blogs-delete-btn
  float: right

.blog-content
  margin: auto
  max-width: 1200px
  padding: 15px 25px