@import bootstrap-sprockets
@import bootstrap
@import font-awesome-sprockets
@import font-awesome



.container
  width: 100vw

#nav-bar
  background: white
  opacity: .98
  position: -webkit-sticky
  position: sticky
  top: 0
  z-index: 1000
  padding: 16px 13px 10px

.nav-left
  border: 1px solid black

.nav-right
  border: 1px solid green
  text-align: right
  text-decoration: none
  top: 30%

.nav-right a
  color: black
  margin-left: 13px


a:hover
  cursor: pointer

.wrapper
  background: url(nature-forest-trees-fog.jpeg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: white
  border: 1px solid brown
  text-align: center
  height: 100vh
  position: relative

.home
  height: 100vh
  position: absolute
  top: 41%

.btns
  width: 56%
  height: auto
  display: block
  font-size: 16px
  margin: 0px auto 0
  padding: 10px 0

#left-btn
  width: 32%

#right-btn
  width: 32%

.left-btn
  margin-right: 5px

#about_me
  border: 1px solid blue
  background: url(desk.jpeg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: white
  border: 1px solid brown
  text-align: center
  height: 100vh
  position: relative

.card-block
  position: absolute
  top: 23%
  margin-right: 31px
  max-width: 60%
  left: 19%

#contact
  border: 1px solid black
  background: url(desk.jpeg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  color: white
  border: 1px solid brown
  text-align: center
  height: 100vh
  position: relative

.contact-me
  position: absolute
  top: 23%
  margin-right: 31px
  max-width: 63%
  left: 18%

.avatar
  margin-top: 28px

.info
  text-align: left

.info a
  text-decoration: none
  color: white

.avatar
  background: url(coffee.jpeg)

.footer
  border: 1px solid red
  background: #333333
  height: 89px
  text-align: center
  width: 100vw
  position: absolute
  z-index: 1000
  font-size: 60px

i 
  margin-left: 10px
  color: #727272